
//color
$color-linear-left: #55c57a;
$color-linear-right: #7ed56f;
$color-linear-secondary-left:#ffb900;
$color-linear-secondary-right: #ff7730;

$color-linear-tertiary-left: #2998ff;
$color-linear-tertiary-right: #5643fa;

$color-white: #fff;
$color-gray: #777;
$color-gray-1: #f7f7f7;
$color-black: black;
$color-red:red;


//width
$max-width: 112rem;
$horizontal-gutter: 4rem;
$margin-bottom: 8rem;
$margin-bottom-small: 4rem;